/* ===================================== */
/* ===================================== */
/* ============ Variables.less ========= */
/* ===================================== */
/* ===================================== */

@small:     768px;
@medium:    992px;
@large:     1200px;
@xlarge:    1500px;

/** other general reusable classes/hacks **/
.hide-text {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

.show-text {
  text-indent: 0%;
  white-space: normal;
  overflow: visible;
}

.add-top(@margin) {
  margin-top: @margin;
}

.add-bottom(@margin) {
  margin-bottom: @margin;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.clearleft {
  clear: left;
}
.clearright {
  clear: right;
}

/*** Colors, etc. ***/

@ookbgray:        rgba(132, 132, 120, 1);
@ookbbrown:       rgba(46, 41, 38, 1);
@ookbpink:        rgba(236, 64, 121, 1);

/*** type stuff ***/
@font-face {
  font-family: 'AWConquerorDidotLight';
  src: url('http://fonts.ookb.co/ff/awconquerer/awconquerordidot-light-webfont.eot');
  src: local('☺'),
       url('http://fonts.ookb.co/ff/awconquerer/awconquerordidot-light-webfont.woff') format('woff'),
       url('http://fonts.ookb.co/ff/awconquerer/awconquerordidot-light-webfont.ttf') format('truetype'),
       url('http://fonts.ookb.co/ff/awconquerer/awconquerordidot-light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@awconquerer-stack: 'AWConquerorDidotLight', Georgia, serif;
